body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --bg: #242536;
  --bg-accent: 484a4d;
  --text-color: dadce1;
  --nav-size: 60px;
  --border: 1px solid 474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size) ;
  background-color: var(--bg) ;
  padding: 0 1rem ;
  border-bottom: var(--border) ;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: flex-end; */
}

.container {
  display: inline-block;
  cursor: pointer;
  justify-content: flex-end;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* button section */
/* callout each button  */
/* target general button , all buttons are having this format, set height, width, etc padding margin */

/* specifically style  */

/* form section */

/* dashboard page  */

/* headers */

/*  */